.errors {
  color: red;
  padding: 0 2rem;
  background-color: rgba(151, 146, 146, 0.747);
}

.headerPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.linkBtn {
  text-decoration: none;
  color: black;
  padding: 2px 6px 2px 6px;
  border: 1px solid black;
  font-size: 30px;
  padding: 0 3rem;
}

.homeBtn {
  color: white;
  background-color: black;
}

.titleHeader {
  font-size: 50px;
}

.homepage {
  background-image: url("../Assets/Pizza.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50em;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage h2 {
  font-size: 80px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.295);
  margin-bottom: 10rem;
}

.imgBackround {
  background-color: rgba(255, 255, 255, 0.295);
}

.form {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
}

.firsth2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid black;
}

.secondh2 {
  text-align: left;
  margin: 0;
  padding: 1rem 2rem;
  background-color: rgba(151, 146, 146, 0.747);
}

label {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: rgba(151, 146, 146, 0.747);
}

input {
  width: 260px;
}

select {
  width: 265px;
}

.addorder {
  margin: 2rem 22rem;
  width: 30%;
  background-color: rgba(151, 146, 146, 0.747);
}

.backroundImg {
  background-image: url(../Assets/Pizza.jpg);
  width: 100%;
  height: 20em;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dogImg h2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.541);
  width: 50%;
  margin: 0 auto;
}

.dogImg {
  background-image: url("../Assets/Pizza.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 15em;
  display: flex;
  align-items: center;
}
